<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style='background-color: #D1D1D1;'>
<div class='div-primary'>
    <h1>Upload a File</h1>
    <form action = '/uploads' method = 'POST' enctype = 'multipart/form-data'>
    <div class = 'row'>
        <div class = 'frm-fld-label'>Select a file from your computer</div>
        <div class = 'frm-fld-input'><input type = 'file' class = 'div-input-file' name = 'file_name' id = 'file_name'></div>
    </div>
    <div class = 'row'>
        <div class = 'frm-fld-btn-save'><button type = 'submit' class = 'frm-bnt-save-file'>Upload Your File</button></div>
    </div>
    </form>
</div>
</body>
</html>